* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100%;
  height: 70px;
  border: 1px solid #5d3fd3;
  background-color: #5d3fd3;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}

.Brand_Logo {
  padding: 5px;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header_menu ul {
  color: #fff;
  list-style: none;
  display: flex;
}

.header_menu ul li {
  font-family: "Times New Roman", Times, serif;
  padding: 7px;
  cursor: pointer;
}

#hero_section {
  width: 100%;
  height: 500px;
  background-image: url("../image/truck-driver-occupation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_titel {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cateogery_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border: 1px solid #ccccff;
}

.category_box {
  width: 150px;
  height: 50px;
  border: 1px solid #ccccff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d33f90;
  background-color: #ccccff;
}
